<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">População</th>
        <th scope="col">Área</th>
        <th scope="col">Estado</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        
        <th>{{city.id}}</th>
        <th>{{city.name}}</th>
        <th>{{city.population}} hab.</th>
        <th>{{city.area}} km²</th>
        <th>{{city.state}}</th>
        
        <td>
          <button class="btn btn-danger" (click)="delete(city)">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
