<div class="container">
    <h1>Cadastro de Cidades:</h1>
   <form [formGroup]="formGroupCities">
     <div class="mb-3">
      <select class="form-select form-select-sm mb-3" aria-label="Small select example">
        <option selected>Nome da cidade </option>
        <option value="1">Indaiatuba</option>
        <option value="2">Itu</option>
        <option value="3">Florianópolis</option>
        <option value="4">Sorocaba</option>
        <option value="5">Rio de Janeiro</option>
        <option value="6">Curitiba</option>
      </select>
     </div>
     <div class="mb-3">
      <select class="form-select form-select-sm mb-3" aria-label="Small select example">
        <option selected>Estado </option>
        <option value="1">SP</option>
        <option value="2">SC</option>
        <option value="3">PR</option>
        <option value="4">RJ</option>
      </select>
      </div>
     <div class="mb-3">
      <label for="area" class="form-label">Área: </label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Entre 100.000 - 400.000 km²
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Entre 400.000 - 780.000 km²
        </label>
      </div>
    </div>
     <div class="mb-3">
       <label for="population" class="form-label">População: </label>
       <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Menos de 100.000 habitantes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Entre 100.000 - 300.000 habitantes 
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Entre 300.000 - 600.000 habitantes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Entre 600.000 - 1.000.000 habitantes
        </label>
      </div>
     </div>
     <button *ngIf= "isEditing" type="button" class="btn btn-primary" (click)="update()">Salvar</button>

     <button *ngIf= "!isEditing" type="button" class="btn btn-primary" (click)="save()">Criar</button>
   </form>
</div>
